label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: white;
}

p{
    color:white;
}

h2{
    color:white;
}

body{
    background-image: url('about.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;

}

img{
    opacity:0.8;
}

button{
    color:orange;
}

footer{
    color:white;
}